{% extends "template.html" %}
{% block content %}


    <div class="x_panel">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script type="text/javascript">
                        $(function(){
                            new PNotify({
                                title: '{{ message.title }}',
                                text: '{{ message.message }}',
                                type: '{{ category }}',
                                delay: 3000
                            });
                        });
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}


        <div class="x_title">
            <h2>Cliente</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left input_mask" action="/client/{{ client.id }}" method="POST">

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" value="{{ client.nome }}"  name="nome" id="inputSuccess2" placeholder="Nome">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess3" name="razao_social" value="{{ client.razao_social }}" placeholder="Razão Social">
                    <span class="fa fa-briefcase form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" name="email" value="{{ client.email }}" id="inputSuccess4" placeholder="Email">
                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess5" name="cidade" value="{{ client.cidade }}" placeholder="Cidade">
                    <span class="fa fa-building-o form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" name="rua" value="{{ client.rua }}" id="inputSuccess4" placeholder="Rua">
                    <span class="fa fa-road form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control" name="bairro" value="{{ client.bairro }}" id="inputSuccess4" placeholder="Bairro">
                    <span class="fa fa-home form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="inputSuccess5" name="cep" value="{{ client.cep }}" placeholder="CEP">
                    <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                </div>

                

                <div class="clearfix"></div>
                <div class="ln_solid"></div>

                <label for="message">Observação:</label>
                <textarea id="message" class="form-control" name="observacao">{{ client.observacao }}</textarea>

                <div class="clearfix"></div>
                <div class="ln_solid"></div>

                <div class="form-group">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <button type="submit" class="btn btn-primary">Cancelar</button>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}