
{% extends "template.html" %}
{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>Clientes <small>Lista</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Razão Social</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <th scope="row">{{ client.id }}</th>
                        <td>{{ client.nome }}</td>
                        <td>{{ client.razao_social }}</td>
                        <td>{{ client.email }}</td>
                        <td><a href="#/shopping-cart"><i class="fa fa-shopping-cart"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}