
{% extends "template.html" %}
{% block content %}

<div class="x_panel">
    <div class="x_title">
        <h2>Clientes <small>Lista</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Razao Social</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <th scope="row">{{ client.id }}</th>
                        <td>{{ client.nome }}</td>
                        <td>{{ client.razao_social }}</td>
                        <td>{{ client.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}